<h2 class="title is-2">Top Soptify Genres From 2010 - 2019</h2>

<% @genres.each do |genre| %>
  <div class="card mb-4">
    <div class="card-content">
      <p class="title is-3">
        <%= link_to genre.name, genre %>
      </p>
      <p class="subtitle">
        <%= genre.song_count %> top rated songs during the years 2010 - 2019 belong to this genre!
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          <strong>Top Rated Song: <%= link_to genre.songs.order("popularity DESC").first.title, genre.songs.order("popularity DESC").first %></strong>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <strong>Top Rated Song's Artist: <%= link_to genre.songs.order("popularity DESC").first.artist.name, genre.songs.order("popularity DESC").first.artist%></strong>
        </span>
      </p>
    </footer>
  </div>
<% end %>
<%= paginate @genres %>