<h2 class="title is-2">Top Songs</h2>
<table class="table is-fullwidth is-bordered is-hoverable">
  <thead>
    <tr>
      <th><abbr title="Title">Title</abbr></th>
      <th><abbr title="Artist">Artist</abbr></th>
      <th><abbr title="Genre">Genre</abbr></th>
      <th><abbr title="Duration">Duration(Seconds)</abbr></th>
      <th><abbr title="Popularity">Popularity</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Title">Title</abbr></th>
      <th><abbr title="Artist">Artist</abbr></th>
      <th><abbr title="Genre">Genre</abbr></th>
      <th><abbr title="Duration">Duration(Seconds)</abbr></th>
      <th><abbr title="Popularity">Popularity</abbr></th>
    </tr>
  </tfoot>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= link_to song.artist.name, song.artist %></td>
        <td><%= link_to song.genre.name, song.genre %></td>
        <td><%= song.duration %></td>
        <td><%= song.popularity %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<h2 class="title is-2">Top Artists</h2>
<% @artists.each do |artist| %>
  <div class="card mb-4">
    <div class="card-content">
      <p class="title is-3">
        <%= link_to artist.name, artist %>
      </p>
      <p class="subtitle">
        This artist has produced <%= artist.song_count %> top rated songs during the years 2010 - 2019!
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          <strong>Top Rated Song: <%= link_to artist.songs.order("popularity DESC").first.title, artist.songs.order("popularity DESC").first%></strong>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <strong>Preferred Genre: <%= link_to artist.songs.order("popularity DESC").first.genre.name, artist.songs.order("popularity DESC").first.genre %></strong>
        </span>
      </p>
    </footer>
  </div>
<% end %>
<h2 class="title is-2">Top Genres</h2>
<% @genres.each do |genre| %>
  <div class="card mb-4">
    <div class="card-content">
      <p class="title is-3">
        <%= link_to genre.name, genre %>
      </p>
      <p class="subtitle">
        <%= genre.song_count %> top rated songs during the years 2010 - 2019 belong to this genre!
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          <strong>Top Rated Song: <%= link_to genre.songs.order("popularity DESC").first.title, genre.songs.order("popularity DESC").first%></strong>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <strong>Top Rated Song's Artist: <%= link_to genre.songs.order("popularity DESC").first.artist.name, genre.songs.order("popularity DESC").first.artist %></strong>
        </span>
      </p>
    </footer>
  </div>
<% end %>
