<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:html_title) + " | " if content_for?(:html_title)%> Top Spotify Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="section">
    <div class="container">
      <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>

            <a class="navbar-item" href="/songs">
              Songs
            </a>
            <a class="navbar-item" href="/artists">
              Artists
            </a>
            <a class="navbar-item" href="/genres">
              Genres
            </a>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </section>
  </body>
</html>
